
.displayed-drink {
    background-color: rgb(0, 0, 0);
    align-items: center;
}


h1 {
    font-weight: bolder;
    background-color: white
}
#title{
    font-weight: bolder;
    background-color: rgba(245, 229, 140, 0.61);
}

h2 {
    font-style: italic;
    font-variant: small-caps;
    color: white;
}

h3 {
    font-style: italic;
    color: white;
}
#display-image-container img {
    height: 500px;
}
body {
    background-color: rgba(168, 144, 5, 0.61);
}
